/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 25, 2015, 10:05:07 PM
    Author     : com
*/

// Payment form CSS starts from here
.alert-danger, .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

.has-error input {
    border-width: 2px;
}

.has-error .control-label{
    color: #A94442; 
}

.has-error .form-control {
    border-color: #A94442;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.alert-success{
    background-color: #dff0d8;
    border-color: #d6e9c6;
}